# Generate keywords combinations for search engine marketing campaigns

Utilizing Python, this is a recipe that shows how to generate different combinations of keywords and how to group them into their respective campaigns and ad groups.

We first start by obtaining the two main sets of words that we will be using:

1. Products: a list of all the products / services that we are trying to sell
2. Keywords: a list of all the keywords that, used together with any of the keywords, indicate an intention to buy any of our products.

For this example we will be generating keywords for an imaginary business that sells used cars online. For simplicity, let's assume that the following are available as products and keywords:

1. Products: 'honda', 'honda accord', 'honda civic', 'toyota', 'toyota camry'
2. Keywords: 'buy', 'price', 'second hand'
The end result we are looking for, would be something like this:

| Campaign | Ad Group | Keywords |Criterion Type
| --- | --- | --- | --- |
| SEM Cars | Toyota | buy toyota | Exact
| SEM Cars | Toyota | buy toyota | Phrase
| SEM Cars | Honda Accord | buy honda accord | Exact
| SEM Cars | Honda Accord | buy honda accord second hand | Exact

In [6]:
#Let's start with a simple loop that combines the keywords with the products, without worrying about campaigns and ad groups for now.

products = ['honda', 'honda accord', 'honda civic', 'toyota', 'toyota camry']
keywords =  ['buy', 'price', 'second hand','cheap','lowest price','low','used']
keywords_list = [] # eventually, each line in this list will correspond to a keyword
for car in products:
    for word in keywords:
        keywords_list.append([car, car + ' ' + word])
        keywords_list.append([car, word + ' ' + car])
# Inspect keyword list
from pprint import pprint
pprint(keywords_list)

[['honda', 'honda buy'],
 ['honda', 'buy honda'],
 ['honda', 'honda price'],
 ['honda', 'price honda'],
 ['honda', 'honda second hand'],
 ['honda', 'second hand honda'],
 ['honda', 'honda cheap'],
 ['honda', 'cheap honda'],
 ['honda', 'honda lowest price'],
 ['honda', 'lowest price honda'],
 ['honda', 'honda low'],
 ['honda', 'low honda'],
 ['honda', 'honda used'],
 ['honda', 'used honda'],
 ['honda accord', 'honda accord buy'],
 ['honda accord', 'buy honda accord'],
 ['honda accord', 'honda accord price'],
 ['honda accord', 'price honda accord'],
 ['honda accord', 'honda accord second hand'],
 ['honda accord', 'second hand honda accord'],
 ['honda accord', 'honda accord cheap'],
 ['honda accord', 'cheap honda accord'],
 ['honda accord', 'honda accord lowest price'],
 ['honda accord', 'lowest price honda accord'],
 ['honda accord', 'honda accord low'],
 ['honda accord', 'low honda accord'],
 ['honda accord', 'honda accord used'],
 ['honda accord', 'used honda accord'],
 ['honda civic', 'honda civic buy'],
 ['honda civic', 'buy honda civic'],
 ['honda civic', 'honda civic price'],
 ['honda civic', 'price honda civic'],
 ['honda civic', 'honda civic second hand'],
 ['honda civic', 'second hand honda civic'],
 ['honda civic', 'honda civic cheap'],
 ['honda civic', 'cheap honda civic'],
 ['honda civic', 'honda civic lowest price'],
 ['honda civic', 'lowest price honda civic'],
 ['honda civic', 'honda civic low'],
 ['honda civic', 'low honda civic'],
 ['honda civic', 'honda civic used'],
 ['honda civic', 'used honda civic'],
 ['toyota', 'toyota buy'],
 ['toyota', 'buy toyota'],
 ['toyota', 'toyota price'],
 ['toyota', 'price toyota'],
 ['toyota', 'toyota second hand'],
 ['toyota', 'second hand toyota'],
 ['toyota', 'toyota cheap'],
 ['toyota', 'cheap toyota'],
 ['toyota', 'toyota lowest price'],
 ['toyota', 'lowest price toyota'],
 ['toyota', 'toyota low'],
 ['toyota', 'low toyota'],
 ['toyota', 'toyota used'],
 ['toyota', 'used toyota'],
 ['toyota camry', 'toyota camry buy'],
 ['toyota camry', 'buy toyota camry'],
 ['toyota camry', 'toyota camry price'],
 ['toyota camry', 'price toyota camry'],
 ['toyota camry', 'toyota camry second hand'],
 ['toyota camry', 'second hand toyota camry'],
 ['toyota camry', 'toyota camry cheap'],
 ['toyota camry', 'cheap toyota camry'],
 ['toyota camry', 'toyota camry lowest price'],
 ['toyota camry', 'lowest price toyota camry'],
 ['toyota camry', 'toyota camry low'],
 ['toyota camry', 'low toyota camry'],
 ['toyota camry', 'toyota camry used'],
 ['toyota camry', 'used toyota camry']]

Convert the list into a DataFrame and Rename the columns of the DataFrame

In [7]:
import pandas as pd

# Create a DataFrame from list
keywords_df = pd.DataFrame.from_records(keywords_list)
keywords_df = keywords_df.rename(columns={0: "Ad Group",1: "Keyword"})

keywords_df.head()

  Ad Group            Keyword
0    honda          honda buy
1    honda          buy honda
2    honda        honda price
3    honda        price honda
4    honda  honda second hand

Add a new column called Campaign with the value 'SEM_Cars' in every row.<br>
Add a new column called Criterion Type with the value 'Exact' in every row.

More about Matching Options -- https://support.google.com/google-ads/answer/7478529?hl=en

In [8]:
keywords_df['Campaign']='SEM Cars'
keywords_df['Criterion Type']='Exact'

Create phrase match keywords.<br>
Change the Criterion Type column values of the newly copied DataFrame keyword_phrase to 'Phrase'.<br>
Append the two DataFrames vertically so you can have one final DataFrame containing both.<br> Name the new DataFrame keywords_df_final.

In [9]:
# Make a copy of the keywords DataFrame
keywords_phrase = keywords_df.copy()

# Change criterion type match to phrase
keywords_phrase['Criterion Type'] = 'Phrase'

# Append the DataFrames
keywords_df_final = keywords_df.append(keywords_phrase)

In [10]:
#View the top rows
keywords_df_final.sample(15) 

#To save the final keywords Dataframe to a CSV-Excel Sheet
#keywords_df_final.to_csv('keywords.csv',index=False)

        Ad Group                    Keyword  Campaign Criterion Type
6          honda                honda cheap  SEM Cars          Exact
51        toyota        lowest price toyota  SEM Cars          Exact
13         honda                 used honda  SEM Cars          Exact
57  toyota camry           buy toyota camry  SEM Cars          Exact
22  honda accord  honda accord lowest price  SEM Cars          Exact
43        toyota                 buy toyota  SEM Cars          Exact
8          honda         honda lowest price  SEM Cars          Exact
31   honda civic          price honda civic  SEM Cars         Phrase
18  honda accord   honda accord second hand  SEM Cars          Exact
32   honda civic    honda civic second hand  SEM Cars         Phrase
28   honda civic            honda civic buy  SEM Cars         Phrase
2          honda                honda price  SEM Cars         Phrase
54        toyota                toyota used  SEM Cars         Phrase
22  honda accord  honda accord lowest price  SEM Cars         Phrase
63  toyota camry         cheap toyota camry  SEM Cars          Exact

In [11]:
# View a summary of our campaign work
summary = keywords_df_final.groupby(['Ad Group', 'Criterion Type'])['Keyword'].count()
print(summary)

Ad Group      Criterion Type
honda         Exact             14
              Phrase            14
honda accord  Exact             14
              Phrase            14
honda civic   Exact             14
              Phrase            14
toyota        Exact             14
              Phrase            14
toyota camry  Exact             14
              Phrase            14
Name: Keyword, dtype: int64

#Generate ads for Search Engine Marketing Campaigns
Utilizing Python, this is a recipe that shows how to generate differnent ad templates for our campaigns and ad groups.

Start by first getting a list of all the possible landing pages that are fit to be used in our campaigns.
We should also have the title of the landing page (product name) as well. Ideally, we should have them in a list of tuples like this:

In [13]:
#landing page links example with the ad group
pages_products = [
('http://example.com/?make=toyota&model=camry', 'toyota camry'),
('http://example.com/?make=toyota&model=corolla','toyota corolla'),
('http://example.com/?make=toyota&model=','toyota'),
('http://example.com/?make=honda&model=civic','honda civic'),
('http://example.com/?make=honda&model=','honda'),
    ]


#ad list
ads_list = [['Campaign', 'Ad Group', 'Headline 1', 'Headline 2', 'Description', 'Final URL']]

In [14]:
#let's combine the our landing page URL's with our headlines abd store them in the ads_list
for page, adgroup in pages_products:
    row = [
        'SEM Cars',
        adgroup,
        adgroup +' '+'for Sale',
        'Great Prices and Options',
        'Browse Over 100,000 Cars. Book Your Free Test Drive',
        page
    ]
    ads_list.append(row)

    row = [
        'SEM Cars',
        adgroup,
        'Second Hand'+' '+adgroup,
        'Great Prices and Options',
        'Browse Over 100,000 Cars. Book Your Free Test Drive',
        page
    ]
    ads_list.append(row)

In [22]:
# Create a DataFrame from the ads_list
ads=pd.DataFrame.from_records(ads_list)

In [27]:
#skip the first row of headers
ads_fix = ads.rename(columns={0:"Description", 1: "Campaign",2: "Ad Group",3:"Headline 1",4:"Headline 2",5:"Final Url"})
ads_final=ads_fix.loc[1:]

ads_final=ads_fix.loc[1:]
ads_final.head(10)

   Description  ...                                      Final Url
1     SEM Cars  ...    http://example.com/?make=toyota&model=camry
2     SEM Cars  ...    http://example.com/?make=toyota&model=camry
3     SEM Cars  ...  http://example.com/?make=toyota&model=corolla
4     SEM Cars  ...  http://example.com/?make=toyota&model=corolla
5     SEM Cars  ...         http://example.com/?make=toyota&model=
6     SEM Cars  ...         http://example.com/?make=toyota&model=
7     SEM Cars  ...     http://example.com/?make=honda&model=civic
8     SEM Cars  ...     http://example.com/?make=honda&model=civic
9     SEM Cars  ...          http://example.com/?make=honda&model=
10    SEM Cars  ...          http://example.com/?make=honda&model=

[10 rows x 6 columns]

In [ ]:
#To save the final Ads Campaign Dataframe to a CSV-Excel Sheet
#ads_final.to_csv('campaign.csv',index=False)